@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);


*{
    margin:0;
    padding: 0;
    box-sizing:border box;
    /* border: 1px solid red; */
    font-family: 'Mooli', sans-serif;;


}
.main-container{
    width: 100%;
    height:100vh;
    background-image: url('image/IN-en-20230918-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 10px solid rgb(115, 111, 111);
}
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* padding-inline: 100px;  */

   
}
.navbar img{
    width: 160px;
}
.navbar span button{
    width: 80px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
#engbtn{
    width: 120px;
    height: 35px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px ;
    font-weight: 600;
    
    
}
.hero-section{
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;

}
.text-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.text-part h1{
    font-size: 38px;
    text-align: start;
    color: white;
    margin-top: 10px;
}
.text-part h6{
    font-size: 20px;
    
    color: white;
    margin-top: 10px;
}
.text-part p{
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
.text-part span input{
    width: 400px;
    height: 50px;
    background: rgba(49, 48, 48, 0.553);
    border:1px solid white;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.text-part span button{
    width: 200px;
    height: 50px;
    background-color: red;
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    margin-left:10px;
    color: white;

}

#hidebtn{
    width: 60px;
    height: 35px;
    background-color: black;
    display: flex;
    color: white;
    border: 1px solid white;
    display: none;
    border-radius: 5px;
}
.tv-section{
    width:100%;
    height: 400px;
    background-color: black;
    display: flex;

    border-bottom: 10px solid rgb(50, 50, 50);


}
.left-part {
    width: 50%;
    height:auto;
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-part {
    width:50%;
    height: auto;
    display: flex; 
    align-items: center;
    justify-content: center; 


}
.right-part img{
    width:400px;
}


    

.left-part h1{
    font-size: 48px;
}
.left-part h6 {
    font-size: 20px;
    margin-top: 20px;

}
.faq-section{
    width: 100%;
    height: auto;
    background-color: black;
    padding-block: 50px;
}


/* reponsive */


@media (max-width: 768px) {


 .main-container{
    width:100%;
    height: 600px;

 }
 .navbar{
    width: 100%;
    height:70px;
 }
 .navbar img{
    width:100px;
 }
 #hidebtn{
    display:inline;
 }
 #engbtn{
    display: none;

 }
 .hero-section{
    width:100%;
    height: auto;

 }
 .text-part h1{
    font-size: 22px;
 }
 .text-part h6{
    font-size: 18px;
 }
 .text-part p{
    font-size: 16px;
    align-items: center;


 }
 .text-part span{
    width:100%;
    height: auto;
    flex-direction: column;
    padding-block: 40px;
 }
  .text-part span button{
    margin-top: 20px;
 } 
.tv-section{
    width: 100%;
    height:auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 40px;


}
.left-part{
    width: 100%;
    height: auto;


}
.left-part h1{
    font-size: 32px;
}
.left-part h6{
    font-size: 18px;
}
.right-part{
    width: 100%;
    height: auto;
}
.right-part img{
    width: 350px;
}

}